[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=sudo sh -c 'service elasticsearch stop; service logstash stop; service kibana stop'
Hidden=false
Name=ElasticStack Stop
Terminal=true
Type=Application
