[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=pkexec /etc/init.d/rsyslog stop && /etc/init.d/syslog-ng start
Hidden=false
Name=syslog-ng start
Terminal=false
Type=Application
