#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Parvis
Exec=bash /opt/davix/scripts/parvis
Name=Parvis
Icon=gnome-panel-launcher
