[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=/opt/davix/broids/bin/broctl start
Hidden=false
Name=BroIDS Start
Terminal=false
Type=Application
