[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=sudo stop logstash && sudo stop logstash-web
Hidden=false
Name=Logstash Stop
Terminal=true
Type=Application
