[Desktop Entry]
Categories=;
Comment=Gnuplot - interactive plotting program
Comment[ar]=Gnuplot - interactive plotting program
Comment[ast]=Gnuplot - interactive plotting program
Comment[be]=Gnuplot - interactive plotting program
Comment[bg]=Gnuplot - interactive plotting program
Comment[bn]=Gnuplot - interactive plotting program
Comment[br]=Gnuplot - interactive plotting program
Comment[bs]=Gnuplot - interactive plotting program
Comment[ca]=Gnuplot - interactive plotting program
Comment[cs]=Gnuplot - interactive plotting program
Comment[da]=Gnuplot - interactive plotting program
Comment[de]=Gnuplot - interactive plotting program
Comment[dz]=Gnuplot - interactive plotting program
Comment[el]=Gnuplot - interactive plotting program
Comment[eo]=Gnuplot - interactive plotting program
Comment[es]=Gnuplot - interactive plotting program
Comment[et]=Gnuplot - interactive plotting program
Comment[eu]=Gnuplot - interactive plotting program
Comment[fi]=Gnuplot - interactive plotting program
Comment[fr]=Gnuplot - interactive plotting program
Comment[ga]=Gnuplot - interactive plotting program
Comment[gl]=Gnuplot - interactive plotting program
Comment[gu]=Gnuplot - interactive plotting program
Comment[he]=Gnuplot - interactive plotting program
Comment[hi]=Gnuplot - interactive plotting program
Comment[hr]=Gnuplot - interactive plotting program
Comment[hu]=Gnuplot - interactive plotting program
Comment[id]=Gnuplot - interactive plotting program
Comment[it]=Gnuplot - interactive plotting program
Comment[ja]=Gnuplot - interactive plotting program
Comment[ka]=Gnuplot - interactive plotting program
Comment[kk]=Gnuplot - interactive plotting program
Comment[km]=Gnuplot - interactive plotting program
Comment[ko]=Gnuplot - interactive plotting program
Comment[ku]=Gnuplot - interactive plotting program
Comment[lt]=Gnuplot - interactive plotting program
Comment[mk]=Gnuplot - interactive plotting program
Comment[ml]=Gnuplot - interactive plotting program
Comment[mr]=Gnuplot - interactive plotting program
Comment[nb]=Gnuplot - interactive plotting program
Comment[ne]=Gnuplot - interactive plotting program
Comment[nl]=Gnuplot - interactive plotting program
Comment[nn]=Gnuplot - interactive plotting program
Comment[pa]=Gnuplot - interactive plotting program
Comment[pl]=Gnuplot - interactive plotting program
Comment[pt]=Gnuplot - interactive plotting program
Comment[pt_BR]=Gnuplot - interactive plotting program
Comment[ro]=Gnuplot - interactive plotting program
Comment[ru]=Gnuplot - interactive plotting program
Comment[sk]=Gnuplot - interactive plotting program
Comment[sq]=Gnuplot - interactive plotting program
Comment[sv]=Gnuplot - interactive plotting program
Comment[ta]=Gnuplot - interactive plotting program
Comment[th]=Gnuplot - interactive plotting program
Comment[tl]=Gnuplot - interactive plotting program
Comment[tr]=Gnuplot - interactive plotting program
Comment[uk]=Gnuplot - interactive plotting program
Comment[vi]=Gnuplot - interactive plotting program
Comment[wo]=Gnuplot - interactive plotting program
Comment[zh_CN]=Gnuplot - interactive plotting program
Comment[zh_TW]=Gnuplot - interactive plotting program
Encoding=UTF-8
Exec=/usr/bin/gnuplot
Hidden=false
Name=Gnuplot
Name[ar]=Gnuplot
Name[ast]=Gnuplot
Name[be]=Gnuplot
Name[bg]=Gnuplot
Name[bn]=Gnuplot
Name[br]=Gnuplot
Name[bs]=Gnuplot
Name[ca]=Gnuplot
Name[cs]=Gnuplot
Name[da]=Gnuplot
Name[de]=Gnuplot
Name[dz]=Gnuplot
Name[el]=Gnuplot
Name[eo]=Gnuplot
Name[es]=Gnuplot
Name[et]=Gnuplot
Name[eu]=Gnuplot
Name[fi]=Gnuplot
Name[fr]=Gnuplot
Name[ga]=Gnuplot
Name[gl]=Gnuplot
Name[gu]=Gnuplot
Name[he]=Gnuplot
Name[hi]=Gnuplot
Name[hr]=Gnuplot
Name[hu]=Gnuplot
Name[id]=Gnuplot
Name[it]=Gnuplot
Name[ja]=Gnuplot
Name[ka]=Gnuplot
Name[kk]=Gnuplot
Name[km]=Gnuplot
Name[ko]=Gnuplot
Name[ku]=Gnuplot
Name[lt]=Gnuplot
Name[mk]=Gnuplot
Name[ml]=Gnuplot
Name[mr]=Gnuplot
Name[nb]=Gnuplot
Name[ne]=Gnuplot
Name[nl]=Gnuplot
Name[nn]=Gnuplot
Name[pa]=Gnuplot
Name[pl]=Gnuplot
Name[pt]=Gnuplot
Name[pt_BR]=Gnuplot
Name[ro]=Gnuplot
Name[ru]=Gnuplot
Name[sk]=Gnuplot
Name[sq]=Gnuplot
Name[sv]=Gnuplot
Name[ta]=Gnuplot
Name[th]=Gnuplot
Name[tl]=Gnuplot
Name[tr]=Gnuplot
Name[uk]=Gnuplot
Name[vi]=Gnuplot
Name[wo]=Gnuplot
Name[zh_CN]=Gnuplot
Name[zh_TW]=Gnuplot
Terminal=true
Type=Application
