[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=sudo sh -c 'service elasticsearch start; service logstash start; service kibana start'
Hidden=false
Name=ElasticStack Start
Terminal=true
Type=Application
