[Desktop Entry]
Categories=Process
Encoding=UTF-8
Exec=firefox -new-window http://localhost:9292/
Hidden=false
Name=Logstash
Terminal=false
Type=Application
