[Desktop Entry]
Categories=;
Comment=Scientific Computing using GNU Octave
Exec=octave
Hidden=false
Icon=/usr/share/octave/3.6.4/imagelib/octave-sombrero.png
Name=GNU Octave
StartupNotify=false
Terminal=true
Type=Application
X-Desktop-File-Install-Version=0.18
