[Desktop Entry]
Categories=Visualize
Encoding=UTF-8
Exec=/opt/davix/rtgraph3d-0.1/rtg_cli.py
Hidden=false
Name=RT Graph 3D Client
Terminal=false
Type=Application
