[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=sudo /opt/davix/broids/bin/broctl stop
Hidden=false
Name=BroIDS Stop
Terminal=true
Type=Application
