[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/usr/bin/tulip
Hidden=false
Name=tulip
Name[ar]=tulip
Name[ast]=tulip
Name[be]=tulip
Name[bg]=tulip
Name[bn]=tulip
Name[br]=tulip
Name[bs]=tulip
Name[ca]=tulip
Name[cs]=tulip
Name[da]=tulip
Name[de]=tulip
Name[dz]=tulip
Name[el]=tulip
Name[eo]=tulip
Name[es]=tulip
Name[et]=tulip
Name[eu]=tulip
Name[fi]=tulip
Name[fr]=tulip
Name[ga]=tulip
Name[gl]=tulip
Name[gu]=tulip
Name[he]=tulip
Name[hi]=tulip
Name[hr]=tulip
Name[hu]=tulip
Name[id]=tulip
Name[it]=tulip
Name[ja]=tulip
Name[ka]=tulip
Name[kk]=tulip
Name[km]=tulip
Name[ko]=tulip
Name[ku]=tulip
Name[lt]=tulip
Name[mk]=tulip
Name[ml]=tulip
Name[mr]=tulip
Name[nb]=tulip
Name[ne]=tulip
Name[nl]=tulip
Name[nn]=tulip
Name[pa]=tulip
Name[pl]=tulip
Name[pt]=tulip
Name[pt_BR]=tulip
Name[ro]=tulip
Name[ru]=tulip
Name[sk]=tulip
Name[sq]=tulip
Name[sv]=tulip
Name[ta]=tulip
Name[th]=tulip
Name[tl]=tulip
Name[tr]=tulip
Name[uk]=tulip
Name[vi]=tulip
Name[wo]=tulip
Name[zh_CN]=tulip
Name[zh_TW]=tulip
Terminal=false
Type=Application
