[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=pkexec /etc/init.d/rsyslog stop
Hidden=false
Name=rsyslog stop
Terminal=false
Type=Application
