[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo /etc/init.d/argus-server restart
Name=Argus Server Restart
Icon=gnome-panel-launcher
Categories=Service
