[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=wireshark
Name[en_US]=Wireshark - tshark
Exec=tshark --help; sudo -s
Name=Wireshark - tshark
Categories=Capture
Icon=wireshark
