#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=snort stop
Exec=pkexec /etc/init.d/snort stop
Name=snort stop
Icon=gnome-panel-launcher
