[Desktop Entry]
Categories=;
Comment=Graphical Network Monitor
Exec=etherape
Hidden=false
Icon=etherape.png
Name=EtherApe
Terminal=0
Type=Application
