[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=Ploticus
Exec=ploticus -h; sudo -s
Name=Ploticus
Categories=Visualize
Icon=gnome-panel-launcher
