[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=/usr/bin/dotty
Hidden=false
Name=dotty
Name[ar]=dotty
Name[ast]=dotty
Name[be]=dotty
Name[bg]=dotty
Name[bn]=dotty
Name[br]=dotty
Name[bs]=dotty
Name[ca]=dotty
Name[cs]=dotty
Name[da]=dotty
Name[de]=dotty
Name[dz]=dotty
Name[el]=dotty
Name[eo]=dotty
Name[es]=dotty
Name[et]=dotty
Name[eu]=dotty
Name[fi]=dotty
Name[fr]=dotty
Name[ga]=dotty
Name[gl]=dotty
Name[gu]=dotty
Name[he]=dotty
Name[hi]=dotty
Name[hr]=dotty
Name[hu]=dotty
Name[id]=dotty
Name[it]=dotty
Name[ja]=dotty
Name[ka]=dotty
Name[kk]=dotty
Name[km]=dotty
Name[ko]=dotty
Name[ku]=dotty
Name[lt]=dotty
Name[mk]=dotty
Name[ml]=dotty
Name[mr]=dotty
Name[nb]=dotty
Name[ne]=dotty
Name[nl]=dotty
Name[nn]=dotty
Name[pa]=dotty
Name[pl]=dotty
Name[pt]=dotty
Name[pt_BR]=dotty
Name[ro]=dotty
Name[ru]=dotty
Name[sk]=dotty
Name[sq]=dotty
Name[sv]=dotty
Name[ta]=dotty
Name[th]=dotty
Name[tl]=dotty
Name[tr]=dotty
Name[uk]=dotty
Name[vi]=dotty
Name[wo]=dotty
Name[zh_CN]=dotty
Name[zh_TW]=dotty
Terminal=false
Type=Application
