[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=pkexec /etc/init.d/pads stop
Name=PADS Stop
Icon=gnome-panel-launcher
Categories=Service
