#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=wireshark
Name[en_US]=Wireshark - tshark
Exec=gnome-terminal
Name=Wireshark - tshark
Icon=wireshark
