[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=service syslog-ng stop && service rsyslog start
Hidden=false
Name=rsyslog start
Terminal=false
Type=Application
