[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Exec=sudo /etc/init.d/pads restart
Name=PADS Restart
Icon=gnome-panel-launcher
Categories=Service
