[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=firefox -new-window http://localhost:9300/
Hidden=false
Name=Logstash
Terminal=false
Type=Application
