[Desktop Entry]
Categories=Visualize
Exec=/bin/sh "/opt/davix/Cytoscape_v3.0.2/Cytoscape"
Hidden=false
Icon=/opt/davix/Cytoscape_v3.0.2/.install4j/Cytoscape.png
Name=Cytoscape
Type=Application
