[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=dns tree
Exec=dns_tree; sudo -s
Name=dns tree
Categories=Capture
Icon=gnome-panel-launcher
