[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=sudo start logstash; sudo start logstash-web
Hidden=false
Name=Logstash Start
Terminal=true
Type=Application
