[Desktop Entry]
Categories=;
Comment=rumint 2.14
Exec=wine "/home/davix/.wine/drive_c/Program Files/rumint/rumint_214.exe"
Hidden=false
Icon=14E5_rumint_214.0
Name=rumint 2.14
Path=/home/davix/.wine/dosdevices/c:/Program Files/rumint
StartupNotify=true
Type=Application
