[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=R
Exec=R
Name=R
Categories=Visualize
Icon=gnome-panel-launcher
