[Desktop Entry]
Categories=Service
Encoding=UTF-8
Exec=pkexec /etc/init.d/logstash stop && pkexec /etc/init.d/logstash-web stop
Hidden=false
Name=Logstash Stop
Terminal=false
Type=Application
