#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=glTail
Exec=/opt/davix/gltail/bin/gl_tail /opt/davix/gltail/bin/gl_tail.yaml
Name=glTail
Icon=gnome-panel-launcher
