[Desktop Entry]
Categories=;
Comment=Graphical Network Monitor
Comment[es]=Monitor Gráfico de Red
Exec=su-to-root -X -c /usr/bin/etherape
Hidden=false
Icon=etherape.png
Name=EtherApe (as root)
Terminal=0
TryExec=su-to-root
Type=Application
