[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=service logstash start && service logstash-web start
Hidden=false
Name=Logstash Start
Terminal=false
Type=Application
