[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=/
Name[en_US]=nsm-console
Exec=cd /opt/davix/nsm-console && sudo ./nsm
Name=nsm-console
Categories=Process
Icon=/
